*{
    margin: 0;
    border: 0;
    padding: 0;
}
header{
    min-height: 1vh;
    max-width: 100%;
    background: white;
}
.navbar{
    min-height: 100px;
    max-width: 100%;
    display: flex;
    padding-top: 20px;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
li{
    list-style: none;
}
.navbar a{
    margin: 54px;
    color: black;
    gap: 10px;
    text-decoration: none;
}
#login{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
}
#usd{
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 20px;
    padding: 10px;
    border: 1px solid black;
    background-image: url(https://wallpaperaccess.com/full/1556608.jpg);
}
.details{
    min-height: 10vh;
    max-width: 100%;
   display: flex;
   gap: 30px;
}
.photo img{
    min-height: 65vh;
    max-width: 150%;
    border-radius: 10px
}
.profile{
    max-height: 63vh;
    max-width: 30%;
    background-color: hsla(0, 11%, 49%, 0.907);
    background-image: url(https://img.freepik.com/free-vector/white-elegant-texture-background-style_23-2148432200.jpg?w=2000);
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
.list{
    min-height: 10vh;
    max-width: 100%;
    background-color: wheat;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 140px;
    padding-left: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.property{
    background-color: rgba(0, 0, 0, 0.925);
    min-height: 7vh;
    max-width: 30%;
    border-radius: 30px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    border: 1px solid black;
    background-image: url(https://wallpaperaccess.com/full/1556608.jpg);
}
#room{
    padding-right: 50px;
}
table,th,td{
    border: 1px solid black;
}
.cost{
    display: flex;
    gap: 150px;
}
.cost a{
    border-radius: 30px;
    padding: 10px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}
.person{
    min-height: 20vh;
    max-height: 30%;
    background-color: gray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid pink;
}
.person img{
    min-height: 1vh;
    max-width: 5%;
    border-radius: 500%;
    padding: 10px;
}
.person h5{
    padding: 5px;
}
.person-name{
        display: flex;
        gap: 50px;
        display: relative;
}
.person-name a{
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    color: black;
    background-color: white;
    text-decoration: none;
}
.person-photo h6{
    float: right;
    padding: 5px;
}
.end{
    padding: 10px;
    max-width: 30;
    background-color: black;
    color: white;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-right: 30px;
}
.end a{
    text-decoration: none;
    color: white;
    margin-left: 120px;
}
.end h6{
    margin-left: 110px;
}
.property a{
    text-decoration: none;
}
#serach{
    background: black;
}
#search-1{
    color: white;
}
#more{
    color: black;
}

